<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="{% url 'hm' %}">Home</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'abt' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ct' %}">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'rg' %}">Registration</a>
    </li>
  </ul>
</nav>
<br>
<div class="container">
  <div class="col-md-6 mx-auto card border border-success shadow-lg">
    <div class="card-body">
      <h3 class="bg-info text-light text-center border rounded p-2">Register</h3>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="rn" class="form-control my-2" placeholder="Enter Id">
        <input type="text" name="nm" class="form-control my-2" placeholder="Enter Name">
        <div class="row">
          <div class="col-mr-1"></div>
        </div>
        <input type="email" name="em" class="form-control my-2" placeholder="Enter Email">
        <input type="number" name="ag" class="form-control my-2" placeholder="Enter Age">
        <div class="row" my-2>
          <div class="col">
            <input type="reset" class="form-control btn btn-outline-warning" value="Clear">
          </div>
          <div class="col">
            <a href="{% url 'login' %}" class="btn btn-outline-info ">Existing User</a>
            
          </div>
          <div class="col">
            <input type="submit" value="Submit" class="form-control btn btn-outline-success">
            
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

</body>
</html>
