h3{
	margin-left: 35%;
	margin-right: 35%;
	text-align: center;
	border: 1px solid steelblue;
	border-radius: 12px;
	padding: 5px;
	background: blanchedalmond;
}
form
{
	margin-left: 35%;
	margin-right: 35%;
	border: 1px solid steelblue;
	border-radius: 12px;
	padding: 10px;
}
label,input
{
 margin-top: 4px;
 width: 100%;
 margin-right:5%;
 margin-left: 5%;

}
#t{
	float: right;
}